<html lang="pt_br">
    <script id="tinyhippos-injected">
        if (window.top.ripple) {
            window.top.ripple("bootstrap").inject(window, document);
        }
    </script>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <meta name="description" content="">
        <meta name="author" content="Eduardo Tadeu Montecino Junior">

        <title>Gerenciamento de Contato</title>

        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/offcanvas.css" rel="stylesheet">

    </head>
    
    <body>